			body { background: #bed8b3; }
			h1 { display: none; }
			h2 { color: #f26c4f; }
			nav { z-index: 1000; }
			
			/* redefines page structure */
			.header_all { position: absolute; height: 190px; width: 100%; background:url(../img/header_background_all.png) repeat-x; z-index: -100; }
			.header_left { position: absolute; top: 42px; height: 38px; width: 50%; background:url(../img/header_background_left.png) repeat-x; z-index: -50; }
			.header_center { height: 190px; background: url(../img/header_background_center.png); }
			.header_right { position: absolute; top: 46px; left: 50%; height: 38px; width: 50%; background:url(../img/header_background_right.png) repeat-x; z-index: -50; }
			.tagline { float: right; margin-top: 56px; color: #FFFFFF; font-weight: bold; }
			.social_media_header { position: absolute; width: 200px; margin-top: 5px; left: 50px; }
			
			.content { width: 100%; min-height: 350px; background: url(../img/content_background.png) center top repeat-x; }
			.content_center { min-height: 350px; background: url(../img/content_background_center.png) center top no-repeat; }
			.hp_buttons { margin-left: 0px; margin-bottom: 20px; margin-top: 10px; height: 125px; }

			.hp_btn-primary {
				background-color: hsl(219, 58%, 17%) !important;
			  background-repeat: repeat-x;
			  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#274d95", endColorstr="#122344");
			  background-image: -khtml-gradient(linear, left top, left bottom, from(#274d95), to(#122344));
			  background-image: -moz-linear-gradient(top, #274d95, #122344);
			  background-image: -ms-linear-gradient(top, #274d95, #122344);
			  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #274d95), color-stop(100%, #122344));
			  background-image: -webkit-linear-gradient(top, #274d95, #122344);
			  background-image: -o-linear-gradient(top, #274d95, #122344);
			  background-image: linear-gradient(#274d95, #122344);
			  border-color: #122344 #122344 hsl(219, 58%, 12%);
			  color: #fff !important;
			  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
			  -webkit-font-smoothing: antialiased;
			}
						

			/*.hp_btn-primary,
			.hp_btn-primary:hover {
			  color: #ffffff;
			  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
			}
			
			.hp_btn-primary.active {
			  color: rgba(255, 255, 255, 0.75);
			}
			
			.hp_btn-primary {
			  background-color: #0074cc;
			  *background-color: #1B3C6A;
			  background-image: -ms-linear-gradient(top, #294A78, #1B3C6A);
			  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#294A78), to(#1B3C6A));
			  background-image: -webkit-linear-gradient(top, #294A78, #1B3C6A);
			  background-image: -o-linear-gradient(top, #294A78, #1B3C6A);
			  background-image: -moz-linear-gradient(top, #294A78, #1B3C6A);
			  background-image: linear-gradient(top, #294A78, #1B3C6A);
			  background-repeat: repeat-x;
			  border-color: #1B3C6A #1B3C6A #003580;
			  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
			  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#294A78', endColorstr='#1B3C6A', GradientType=0);
			  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
			}
			
			.hp_btn-primary:hover,
			.hp_btn-primary:active,
			.hp_btn-primary.active,
			 {
			  background-color: #294A78;
			  *background-color: #004ab3;
			}
			
			.hp_btn-primary:active,
			.hp_btn-primary.active {
			  background-color: #004099 \9;
			}
			
			.btn-group.open .hp_btn-primary.dropdown-toggle {
			  background-color: #FFFFFF;
			}
			
			.hp_btn-primary .caret {
			  border-top-color: #ffffff;
			  border-bottom-color: #ffffff;
			  opacity: 0.75;
			  filter: alpha(opacity=75);
			}
	
			*/
			
			.footer { width: 100%; height: 330px; background: url(../img/footer_background.png) center top repeat-x; }
			.footer b { font-size: 110%; }
			.footer_center { height: 250px; padding-top: 80px; color: #FFFFFF; text-align: center; background: url(../img/footer_background_center.png) center top no-repeat; }
			.footer_align_left { text-align: left; padding-left: 20px; }
			.footer_links { color: #eeeeee; text-decoration: none;}
			.footer_links:hover { color: #9eb7d7; text-decoration: underline; }
			.footer_logo { padding-bottom: 10px }
			.footer_social_media { padding-top: 5px; }
			.footer_twitter { font-weight: bold; text-align: left; padding-left: 60px; padding-bottom: 5px; font-size: 110%; }
			.footer_copyright { text-align: right; margin-right: -20px; padding-top: 10px; }
			
			/* Redefines the Bootstrap Dropdown */
			.navbar { color: #FFFFFF; width: 815px; margin-left: 125px; margin-top: 110px; }
			.navbar .nav > li > a {
			  float: none;
			  padding: 9px 12px 11px;
			  line-height: 19px;
			  color: #FFFFFF;
			  text-decoration: none;
			  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
			}
			.navbar .nav > li > a:hover { color: #9eb7d7; }
			.navbar-inner {
				  min-height: 40px;
				  padding-right: 20px;
				  padding-left: 20px;
				  background-color: #2c2c2c;
				  background-image: -moz-linear-gradient(top, #294A78, #1B3C6A);
				  background-image: -ms-linear-gradient(top, #294A78, #1B3C6A);
				  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#294A78), to(#1B3C6A));
				  background-image: -webkit-linear-gradient(top, #294A78, #1B3C6A);
				  background-image: -o-linear-gradient(top, #294A78, #1B3C6A);
				  background-image: linear-gradient(top, #294A78, #1B3C6A);
				  background-repeat: repeat-x;
				  -webkit-border-radius: 4px;
				     -moz-border-radius: 4px;
				          border-radius: 4px;
				  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#294A78', endColorstr='#1B3C6A', GradientType=0);
				  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
				     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
				          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
			}
			.dropdown-menu > li > a:hover { background-color: #9eb7d7; }
			.dropdown-toggle { color: #FFFFFF; padding-right: 5px; }
			.caret { border-top: 4px solid #FFFFFF; opacity: 1; }
			
		
			
			/*Twitter Feed */
			#jstwitter { text-align: left; padding-left: 60px; overflow:visible; margin-right: -20px; }
 			#jstwitter .tweet { padding-bottom :10px; font-size: 90%; }
 			#jstwitter .tweet a { color: #9eb7d7; font-weight: bold;  }
 			#jstwitter .tweet a:hover { text-decoration: underline; color: #FFFFFF; }
			#jstwitter .tweet .time { }
			
			/* Redefines Twitter Bootstrap Carousel */
			.carousel_frame { width: 940; height: 340px; background:url(../img/carousel_frame.png) no-repeat; }
			.carousel-control.left { top: 50%; left: 35px; }
			.carousel-control.right { top: 50%; right: 37px; left: auto; }
			.item { padding-left: 10px; padding-top: 10px;}
			
			/* Defines Calendar icons */
			.calendar { clear: both; margin-left: 5px;
				width: 50px; height: 50px; margin-top: 5px; margin-bottom: 5px; font-size: 1.2em; background: #eee; border: 1px solid;
			    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; 
			    box-shadow: 0 0 5px #05587e; -moz-box-shadow: 0 0 5px #05587e; 
			    -webkit-box-shadow: 0 0 5px #05587e;
			 }
			.calendar > span { display: block; }
       		.calendar > .month { 
       			text-align: center; 
       			padding: 2px 2px 2px 0; 
       			background: #6086a6; color: #fff; font-weight: bold; 
       			-webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px;
       			-webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px;
       			border-top-left-radius: 5px; border-top-right-radius: 5px;
       			text-shadow: 0 1px #000;
       			background: -webkit-gradient(linear, left top, left bottom, from(#acc0d1), to(#6086a6));
       			background: -moz-linear-gradient(top, #acc0d1, #6086a6);
       		 }
       		.calendar > .day { 
       			text-align: center;
       			padding-top: 5px;
       			font-weight: bold; 
       			font-size: 1.2em; 
       			background: #fff;
       			-webkit-border-bottom-left-radius:  5px; -moz-border-radius-bottomleft:      5px;
       			-webkit-border-bottom-right-radius: 5px; -moz-border-radius-bottomright:     5px;
       			text-shadow: 0 1px #fff;
       			background: -webkit-gradient(linear, left top, left bottom, from(#405b72), to(#e6e6e6), color-stop(.08,#f9f9f9));
       			background: -moz-linear-gradient(top, #f9f9f9, #e6e6e6);
       		  }
			  
			  .course { overflow: visible; margin-top: 12px; }
			  .course_links { text-decoration: underline; color: #f26c4f; }
			  .course_links:hover { text-decoration: none; color: #f26c4f; }
			  
			  .calendar_link { clear: both; margin-left: 0px; margin-top: 20px; }
			  
			  /* Information Form */
			  .form_standard { margin-top: 20px; width: 300px; height: 336px; background:url(../img/form_background.png) center top no-repeat;  }
			  form  a:hover { color: #9eb7d7; }
			  .input-small { width: 108px; }
			  .field_padding { margin-top: 10px; margin-right: 5px; }
			  .last_name { width: 108px; }
			  .email { width: 235px; }
			  textarea { height: 78px; width: 235px; }
			  
			  
			  /* Turns off default table hover color change */
			  .table tbody tr:hover td,
			  .table tbody tr:hover th {
 				   background-color: inherit;
				}
				
				.table-striped tbody tr:nth-child(odd):hover td,
				.table-striped tbody tr:nth-child(odd):hover th {
  					background-color: #f9f9f9;
				}
